In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [26]:
url = 'https://giavangvietnam.com/bieu-do-gia-vang-sjc-6-thang-truoc/'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')

In [27]:
chart = soup.find('div', class_='j-data-chart')
chart = str(chart)

In [28]:
date = chart[chart.index('data-date') + 12:chart.index('data-value') - 3]
#date = pd.Series(date.split(","))
#date

In [29]:
buy =  chart[chart.index('buy') + 6:chart.index('sell') - 3]
#buy = pd.Series(buy.split(","))
#buy

In [30]:
sell = chart[chart.index('sell') + 7:chart.index('>') - 3]
#sell = pd.Series(sell.split(","))
#sell

In [31]:
data = {'Date': pd.Series(date.split(",")),
        'Buy': pd.Series(buy.split(",")),
        'Sell': pd.Series(sell.split(","))}

df = pd.DataFrame(data)
df.to_csv('test.csv', encoding='utf-8')

In [32]:
my_data = pd.read_csv('test.csv')
my_data

     Unnamed: 0                   Date       Buy      Sell
0             0  "2022-04-16 00:00:02"  69100000  69700000
1             1  "2022-04-16 08:34:02"  69150000  69800000
2             2  "2022-04-16 10:30:02"  69200000  69850000
3             3  "2022-04-17 00:00:02"  69200000  69850000
4             4  "2022-04-18 00:00:02"  69200000  69850000
..          ...                    ...       ...       ...
836         836  "2022-10-12 08:30:01"  66000000  67000000
837         837  "2022-10-12 09:22:01"  65900000  66900000
838         838  "2022-10-12 11:06:01"  66000000  67000000
839         839  "2022-10-12 15:16:02"  65900000  66900000
840         840  "2022-10-13 00:00:02"  65900000  66900000

[841 rows x 4 columns]